.movie-container {
	width: min-content;
	height: fit-content;
	padding: 18px;
	background-color: rgba(255, 255, 255, 0.03);
	display: grid;
	text-align: left;
	border-radius: 28px;
	justify-self: center;
	margin-bottom: 30px;
	box-shadow:
		rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
		rgba(0, 0, 0, 0.06) 0px 2px 1px,
		rgba(0, 0, 0, 0.09) 0px 4px 2px,
		rgba(0, 0, 0, 0.09) 0px 8px 4px,
		rgba(0, 0, 0, 0.09) 0px 16px 8px,
		rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.movie-container-2 {
	background: transparent;
}

.movie-poster {
	border-radius: 10px;
	justify-self: center;
}

.movie-title {
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 5px;
	background-color: transparent;
}

.movie-data {
	display: flex;
	background-color: transparent;
	align-items: center;
	font-size: clamp(12px, 2vw, 16px);
}

.movie-data p {
	display: flex;
	background-color: transparent;
	color: #969696;
	padding-left: 3px;
	margin: 0;
}

.bi-star-fill {
	background-color: transparent;
	color: #fbff00;
	margin-right: 3px;
}

.movie-description {
	background-color: transparent;
	text-align: justify;
	font-size: clamp(12px, 2vw, 16px);
	margin-bottom: -5px;
}

/*Mobile*/
@media (max-width: 1023px) {
	.movie-container {
		margin-top: 35px;
		min-width: 231px;
	}
	.movie-poster {
		width: 195px;
	}
	.movie-description {
		margin-top: 15px;
	}
}

/*PC*/
@media (min-width: 1024px) {
	.movie-container {
		margin-top: 55px;
		min-width: 300px;
	}
	.movie-poster {
		width: 264px;
	}
	.movie-description {
		margin-top: 20px;
	}
}
