.movie-container {
	width: min-content;
	height: fit-content;
	padding: 18px;
	background-color: rgba(255, 255, 255, 0.03);
	display: grid;
	text-align: left;
	border-radius: 28px;
	justify-self: center;
}

.movie-poster {
	border-radius: 10px;
	justify-self: center;
}

.movie-title {
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 5px;
	background-color: transparent;
}

.movie-data {
	display: flex;
	background-color: transparent;
	align-items: center;
	font-size: clamp(12px, 2vw, 16px);
}

.movie-data p {
	display: flex;
	background-color: transparent;
	color: #969696;
	padding-left: 3px;
	margin: 0;
}

.bi-star-fill {
	background-color: transparent;
	color: #fbff00;
	margin-right: 3px;
}

.movie-description {
	background-color: transparent;
	text-align: justify;
	font-size: clamp(12px, 2vw, 16px);
	margin-top: 20px;
	margin-bottom: -5px;
}

/*Mobile*/
@media (max-width: 1023px) {
	.movie-container {
		margin-top: 35px;
		min-width: 231px;
	}
	.movie-poster {
		width: 195px;
	}
}

/*PC*/
@media (min-width: 1024px) {
	.movie-container {
		margin-top: 55px;
		min-width: 300px;
	}
	.movie-poster {
		width: 264px;
	}
}
