* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: bold;
	font-style: normal;
	color: #e2e2e2;
	background-color: #1b1b1e;
	user-select: none;
}
